<mat-toolbar color="primary" ngClass="fixed-expand-toolbar">
    <mat-toolbar-row ngClass="mat-elevation-z4">
        <div class="app-brand">
            <span class="app-title">Dashboard</span>
        </div>
        <span class="row-expand"></span>
        <div class="avatar-group">
            <div class="avatar-icon">M</div>
            <span class="avatar-label">Magloire</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<main>
    <section id="welcome-section" aria-label="welcome section" class="d-flex jtf-center ali-center flex-column">
        <h2>Bienvenue, Magloire</h2>
        <span class="text-mute">Cliquez pour commencer un service</span>

        <div class="card-group">
            <mat-card class="card-project">Card 1</mat-card>
            <mat-card class="card-project">Card 2</mat-card>
            <mat-card class="card-project">Card 3</mat-card>
        </div>
    </section>
</main>