.row-expand {
    flex: 1 1 auto;
}

.fixed-expand-toolbar {
    position: fixed;
    width: 100%;
}

.app-brand {
    display: flex;
    align-items: center;
    &>img {
        margin-right: 15px;
    }
}

main {
    padding-top: 100px;
}