<mat-toolbar color="primary" ngClass="fixed-expand-toolbar">
    <mat-toolbar-row ngClass="mat-elevation-z4">
        <div class="app-brand">
            <img src="../../../assets/hisquery.svg" height="40" width="43" alt="logo">
            <span class="app-title">{{appTitle}}</span>
        </div>
        <span class="row-expand"></span>
        <div>
            <button (click)="openLoginModal()" mat-button>Se connecter</button>
            <button (click)="openRegisterModal()" mat-button>S'inscrire</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<main>

</main>