<div mat-dialog-title>
    <h3 class="text-center">Créez votre compte</h3>
</div>
<div mat-dialog-content>
    <form action="#" style="margin-top: 15px;">
        <mat-form-field class="match-width" appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput type="text" required>
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field class="match-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" required>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field class="match-width" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)='toggleVisibility($event)'>
                <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="match-width" appearance="outline">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput type="password" required>
            <button mat-icon-button matSuffix>
                <mat-icon>lock</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Quitter</button>
    <button color="primary" mat-button mat-dialog-close cdkFocusInitial>Me connecter</button>
</div>