$color-primary: #2e3c50;
$color-primary-alt: #0B1429;
$color-secondary-alt: #E84E35;
$color-accent: #E1C3C0;
$color-background: #eee;
$color-background-alt: #fafafa;
$color-text: #555;
$color-text-dark: #222;
$color-text-mute: #888